<tr>
  <th scope="row"><%=counter%></th>
  <td><input type="text" name="bill[items_attributes][1][description]" placeholder="Descripción" id="bill_items_attributes_1_description"></td>
  <td><input type="number" name="bill[items_attributes][1][item_type]" placeholder="Tipo de item" id="bill_items_attributes_1_item_type"></td>
  <td><input type="number" name="bill[items_attributes][1][amount]" placeholder="Monto" id="" id="bill_items_attributes_1_amount"></td>     
  <td>
    <input name="bill[items_attributes][1][_destroy]" type="hidden" value="0">
    <input type="checkbox" value="1" name="bill[items_attributes][1][_destroy]" id="bill_items_attributes_1__destroy">
    <label for="bill_items_attributes_1__destroy">Remove Task</label>
  </td>
</tr>