<h1>Facturas</h1>

<% for bill in @bills %>
    <%= bill.name %>
    <% for item in bill.items %>
        <%= item.description %>
    <% end %>
<% end %>

<a href="/bills/new" class="nav-link">Crear factura</a>